<%= form_with(model: staff) do |form| %>
  <% if staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
        <% staff.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %><p>

  <div class="field form-group">
    <% form.label :first_name %>
    <%= form.text_field :first_name, class:"form-control", placeholder:"First Name" %>
  </div><p>

  <div class="field form-group">
    <% form.label :last_name %>
    <%= form.text_field :last_name, class:"form-control", placeholder:"Last Name" %>
  </div><p>

  <div class="field form-group">
    <% form.label :email %>
    <%= form.text_field :email, class:"form-control", placeholder:"Email" %>
  </div><p>

  <div class="field form-group">
    <% form.label :phone %>
    <%= form.text_field :phone, class:"form-control", placeholder:"Phone number" %>
  </div><p>

  <div class="field form-group">
    <% form.label :vk %>
    <%= form.text_field :vk, class:"form-control", placeholder:"VK id" %>
  </div><p>

<div class="field form-group">
    <%= form.number_field :user_id, id: :friend_user_id,  class:"form-control", value: current_user.id, type: :hidden %>
  </div><p>

  <div class="actions">
    </br><%= form.submit class:'btn btn-secondary' %>
  </div>
<% end %>
