<% if user_signed_in? %>

  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Vk</th>
        <th> </th>
      </tr>
    </thead>

    <tbody>
      <% @staffs.each do |staff| %>
      <% if staff.user == current_user%>
        <tr>
          <td>
            <%= link_to staff.first_name + ' ' + staff.last_name, staff %>
          </td>
          <td><%= staff.email %></td>
          <td><%= staff.phone %></td>
          <td><%= staff.vk %></td>
         
          <td><%= link_to 'Delete', staff, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
          

        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

    <%= link_to 'New Staff', new_staff_path, class:"btn btn-secondary" %>

<% else %>

  <h1>Ruby on Rails project</h1>

<% end %>